<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChatCat - Login</title>
	<link rel="stylesheet" href="/css/loginStyles.css">
	<script src="/js/jquery-2.1.4.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="titlePanel">
			<h1>ChatCAT | Log in NOW! </h1>
		</div>
		<div class="loginButton">
			<a href="/register">
				<img id="loginBtnImg" src="/img/fbLoginBtn.png" alt="Sign-In with Facebook">
			</a>

			<a href="/login">
				<img id="loginBtnImg" src="/img/twLoginBtn.png" alt="Sign-In with Twitter">
			</a>
		</div>
		<div>
			<form role="form" action="/login" method="post">
				<p><input type="text" name="username" value="" placeholder="Username"></p>

				<p><input type="password" name="password" value="" placeholder="Password"></p>

				<p class="submit"><input type="submit" name="commit" value="Login"></p>
			</form>
		</div>
	</div>
</body>
</html>