<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChatCat - Login</title>
	<link rel="stylesheet" href="/css/loginStyles.css">
	<script src="/js/jquery-2.1.4.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="titlePanel">
			<h1>ChatCAT | Register NOW! </h1>
		</div>
		<div>
			<form role="form" action="/register" method="post">
				<p><input type="text" name="login" value="" placeholder="Username"></p>

				<p><input type="password" name="password" value="" placeholder="Password"></p>

				<p class="submit"><input type="submit" name="commit" value="Login"></p>
			</form>
		</div>
	</div>
</body>
</html>